.container{
  display: flex;
  justify-content: center;
  border: black;

}
table{
  text-align: center;
  padding: 5px;
  border-radius: 7px;
  background-color: rgb(228, 220, 215);
  border-color: rgb(16, 18, 20);
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
}


